/backend/backend/gcp/datastore/credentials.json
/backend/.env
/backend/backend/__pycache__
.DS_Store
/backend/db.sqlite3
/backend/.gcloudignore
/backend/app/*/migrations

backend/staticfiles
/backend/static/css/main.350aaa09.css.map
/backend/static/js/*chunk.js
/backend/static/js/*chunk.js.map
/backend/static/js/*.js.LICENSE.txt
/backend/static/js/*.js.map
