.dataFetcherContainer {
    text-align: center;
    padding: 20px;
}

.dataFetcherHeader {
    color: #282c34;
    font-size: 24px;
}

.dataFetcherContent {
    text-align: left;
    background-color: #fff;
    color: #333;
    padding: 20px;
    width: 80%;
    margin: auto;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
